/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection,
*::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

*::-moz-placeholder,
*:-ms-input-placeholder,
*::placeholder {
  font-size: var(--fs-placeholder);
  opacity: 0.7;
  color: var(--color-secondary-dark);
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: var(--color-bg); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* color of the scroll thumb */
  border-radius: 100vh; /* roundness of the scroll thumb */
  border: 3px solid var(--color-bg); /* creates padding around scroll thumb */
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-bg-dark);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

/* General styling properties and typography start */
body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-18);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--color-primary);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--color-primary);
  letter-spacing: 0.5px;
}

h1 {
  font-size: var(--fs-48);
  font-weight: 800;
}

h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-36);
  font-weight: 800;
}

h3,
h4 {
  font-family: var(--ff-primary);
  font-size: var(--fs-24);
  font-weight: 700;
}

p {
  font-size: var(--fs-18);
  line-height: 1.5;
  letter-spacing: 0.5px;
  max-width: 100ch;
}

// Link styles in the right order
a {
  font-family: inherit;
  font-size: var(--fs-18);
  font-weight: 500;
  color: var(--color-primary);
  letter-spacing: 0.5px;
  text-decoration: none;
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
  display: block;
  max-width: 100%;
}

button,
label,
input,
textarea {
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--color-primary);
}
